.dashboard{
    flex-grow: var(--flex-grow-center);
    width: var(--center-width);
    margin-bottom: 30px;    
}
.dashboard-items{
    margin: auto;
    margin-top: 30px;
    max-width: 80%;
}
.expense-item{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 0px 20px 10px;
    -webkit-box-shadow: 5px 5px 21px -3px rgba(0,0,0,0.33); 
    box-shadow: 5px 5px 21px -3px rgba(0,0,0,0.33);
    border-radius: 20px 0;
}

.expense-item h3{
    color: var(--links-color);
}

.dashboard p {
    color: var(--links-color)
}
.date-range{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.date-range input, span{
    margin-left: 5px;
}
.date-range  span{
    font-size: small;
}
.date-range img {
    width: 18px;
    margin-left: 5px;
    padding: 2px;
    border: 1px solid var(--links-color);
    background: white;
    border-radius: 3px;
    cursor: pointer;
    
}
.date-range img:hover {
    background: var(--main-back);
  
}
