.create{
    width: var(--center-width);
    flex-grow:  var(--flex-grow-center);;
}

@media screen and (max-width: 800px) {
   .form{
        width: 60%;
        min-height: 100vh;
       
    }
    
    .create{
        display: flex;
        justify-content: left;
    }

}