
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --main-sidebar: rgb(49, 93, 195);
  --light-graphs-back: rgb(251, 251, 251);
  --center-width: 350px;
  --flex-grow-center: 4;
  --main-back:rgb(239, 240, 240);
  --links-color:rgb(49, 93, 195);
  --delete-color: rgb(247, 81, 16);
  --amount: rgb(71, 136, 6);

}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway;
  font-weight: 500;
  
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
h2{
  text-align: center;
}
p, span, a, input{
  font-size: 1.2em;
}
.btn{
  background: var(--main-back);
  border: 2px solid var(--links-color);
  padding: 5px;
  border-radius: 10px;
  font-size: 1.2em;
  color: var(--links-color);
  font-weight: 700;
}
.delete{
  color: white;
  border: 1px solid var(--delete-color);
  background: var(--delete-color);
  font-size: 15px;
}

.modal-delete-btn{
  font-size: 30px;
  padding: 20px;
  margin: 20px;
  background: var(--delete-color);
  cursor: pointer;
}
.modal-cancel-btn{
  font-size: 30px;
  padding: 20px;
  margin: 20px;
  background: var(--amount);
  cursor: pointer;
}
.btn:hover{
  background: var(--main-sidebar);
  color:var(--main-back);
  cursor: pointer;
}
.delete:hover{
  background: white;
  color: var(--delete-color);
}

.pageTitle{
  /* background:rgb(84, 83, 90); */
  margin: 0;
  padding : 15px 0;
  color: var(--main-sidebar)
}
.form{
  max-width: 400px;
  color: var(--main-sidebar);
  margin: 30px auto;
  
}
.form form label {
  display: block;
}
.form form label input{
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid var(--main-sidebar);
  border-radius: 5px;
  padding: 6px;
  color: var(--main-sidebar);
}


.form form label input::file-selector-button{
  background: var(--main-sidebar);
  margin: 3px;
  padding: 3px;
  color: var(--main-back);
  border: none;
  border-radius: 5px;
}
.form form label span{
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
}
.form button{
  margin-top: 30px;
}
.amount{
  color: var(--amount);
  padding: 5px;
  border: 1px solid var(--amount);
  margin-bottom: 5px;
  font-size: small;
  border-radius: 5px;
  display: inline-block;
  font-weight: 700;
}
.date{
  font-size: small;
}